MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=studentdb
MYSQL_USER=student
MYSQL_PASSWORD=studentpass
MYSQL_PORT=3306
BACKEND_PORT=8081
FRONTEND_PORT=4200
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://localhost,http://localhost:80
